/* Navbar */
#navbar .logo{
  float: none;
  text-align: center;
}

#navbar ul,#navbar ul li{
  float: none;
}

#navbar ul li a{
  padding: 5px;
  border-bottom: 1px dotted #444;
}

/* Showcase */
#showcase{
  height: 100%;
}
#showcase .showcase-content{
  padding-top: 70px;
  padding-bottom: 30px;
}

/* Home Info */
#home-info{
  height: 450px;
}

#home-info .info-img{
  display: none;
}

#home-info .info-content{
  float: none;
  width: 100%;
}

/* Features */
.box{
  float: none;
  width: 100%;
}

/* About */
#about-info .info-left{
  float: none;
  width: 100%;
  padding-bottom: 20px;
}

.l-heading{
  text-align: center;
}

#about-info .info-right{
  float: none;
  width: 100%;
}

/* Contact */
#contact-info .box{
  border-bottom: 1px dotted #444;
}